.p-button {
  color: white !important;
//   background-color: $primaryBgColor !important;
}

.p-button-primary {
  color: white !important;
  background-color: $primaryBgColor !important;
}

.p-button-success {
    background-color: $successBgColor !important;
  }

.p-button-danger {
  background-color: $dangerBgColor !important;
}

.p-button-warning {
  background-color: $warningBgColor !important;
}

.p-button-secondary {
  background-color: $secondaryBgColor !important;
}

.p-button-primary {
  background-color: $primaryBgColor !important;
}

.p-button-info {
  background-color: $infoBgColor !important;
}

.p-button-lg {
}


// .p-card {
//     background-color:$bodyBgColor !important;
// }

