.layout-main {
  transition: margin-left $transitionDuration;
}

.layout-wrapper {
  // max-width: 1000px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.scroll-main {
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  height: calc(100vh - 40px);
  background-color: $bodyBgColor;
}

.scroll-main::-webkit-scrollbar {
  width: 20px;
}

.scroll-main::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.scroll-main::-webkit-scrollbar-thumb {
  background-color: $secondaryBgColor;
  border-radius: 10px;
  border: 4px solid rgba(250, 206, 206, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
  transition: color 0.5s;
}

.scroll-main::-webkit-scrollbar-thumb:hover {
  background-color: $primaryColor;
  transition: color 0.5s;
}
.scroll-main::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.menu {
  height: calc(100vh - 40px);
}
.scroll-menu {
  overflow: scroll;
}

.scroll-menu::-webkit-scrollbar {
  width: 15px;
}
.scroll-menu::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.scroll-menu::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}

.title-bar {
  -webkit-app-region: drag;
  height: 40px;
  padding: 0px;
  margin: 0px;
  background-color: $bodyBgColor;
  border-bottom: 1px solid rgb(161, 161, 161);
}

.title {
  color: rgb(255, 255, 255);
  position: fixed;
  top: 0px;
  left: 30px;
  line-height: 32px;
  font-size: 20px;
}

.title-btn {
  -webkit-app-region: no-drag;
  position: fixed;
  top: 1px;
  right: 0px;
}

.title-btn div {
  position: relative;
  float: left;
  width: 30px;
  height: 30px;
  transition: all 0.3s;
}

.title-btn div:before,
.title-btn div:after {
  top: 30%;
  right: 30%;
  bottom: 30%;
  left: 30%;
  content: " ";
  position: absolute;
  border-color: #ffffff;
  border-style: solid;
  border-width: 0 0 2px 0;
}

.title-btn .minimize:before {
  border-bottom-width: 2px;
}

.title-btn .maximize:before {
  border-width: 1px 1px 2px 1px;
}

.title-btn .close:before,
.title-btn .close:after {
  bottom: 50%;
  top: 50%;
}

.title-btn .close:before {
  transform: rotate(45deg);
}

.title-btn .close:after {
  transform: rotate(-45deg);
}

.title-btn div:hover {
  background-color: #ffffff;
}

.title-btn .close:hover {
  background-color: #e04343;
}

.title-btn div:hover:after,
.title-btn div:hover:before {
  border-color: #333333;
}

.title-btn .close:hover:after,
.title-btn .close:hover:before {
  border-color: #ffffff;
}

.fade-enter-active,
.fade-leave-active {
  transition: all 0.3s ease;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.text-error {
  color: $dangerBgColor!important;
}

.text-primary {
  color: $primaryColor!important;
}


hr.faded {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}
