/* Typography */
.card {
  background-color: $SubBgColor;
  padding: 1em;
  margin-bottom: 16px;
  border-radius: $borderRadius;

  &.card-w-title {
    padding-bottom: 2em;
  }
}

/* Code Highlight */
.docs {
  pre[class*="language-"] {
    padding: 0 !important;
    background: transparent;
    overflow: visible;

    > code {
      border-left: 0 none;
      box-shadow: none !important;
      font-size: 14px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.548);
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $focusShadowColor;
  transition: color 0.5s;
}
::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

select {
  // margin: 50px;
  border-radius: 1.5px;
  width: 185px;
  padding: 5px 35px 5px 5px;
  font-size: 16px;
  border: 1px solid rgb(119, 119, 119);
  background-color: rgb(36, 36, 36);
  color: rgb(194, 194, 194);
  height: 34px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-size: 0.5em auto;
  background-position: right 0.25em center;
  background-image: url("data:image/svg+xml;charset=utf-8, \
    <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 40'> \
      <polygon points='0,0 60,0 30,40' style='fill:white;'/> \
    </svg>");
}

select:focus {
  box-shadow: 0px 0px 1px 2px $primaryFocusColor !important;
  border-color: $primaryFocusColor !important;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}

select:active {
  box-shadow: 0px 0px 1px 2px $primaryFocusColor !important;
  border-color: $primaryFocusColor !important;
  outline: 0;
  outline-color: transparent;
  outline-style: none;
}
