/* General */
$fontSize:16px;
$bodyBgColor:rgb(39,52,59);
$SubBgColor:rgb(33, 40, 44);
$textColor:#ffffff;
$textSecondaryColor:#707070;
$borderRadius:3px;
$dividerColor:#e3e3e3;
$transitionDuration:.5s;
$maskBgColor:#424242;
$focusShadowColor:rgb(138, 230, 205);

/* Menu Common */
$menuitemBadgeBgColor:rgb(84,209,176);
$menuitemBadgeColor:#ffffff;
$submenuFontSize:12px;
$menuitemActiveRouteColor:rgb(84,209,176);


/* Menu Dark */
$menuDarkBgColorFirst:rgb(20,34,43);
$menuDarkBgColorLast:rgb(20,34,43);
$menuitemDarkColor:#ffffff;
$menuitemDarkHoverColor:rgb(84,209,176);
$menuitemDarkActiveColor:rgb(134, 224, 200);
$menuitemDarkActiveBgColor:rgb(0, 0, 0);
$menuitemDarkBorderColor:rgba(52, 56, 65, 0.6);


/*button*/
$buttonPrimaryBgColor:rgb(84,209,176);
$buttonSecondaryBgColor:rgb(92, 92, 92);
$buttonInfoBgColor:rgb(76, 204, 221);
$buttonSuccessBgColor:rgb(0, 189, 72);
$buttonDangerBgColor:rgb(255, 118, 118);
$buttonWarningBgColor:rgb(255, 209, 111);